html {
    zoom: 120%;
}
body {
    font-family: JetBrains Mono, monospace;
    /*font-size: 16px;*/
    line-height: 1.2;
    font-size: 14px !important;
}

.btn-bounce-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    /*fs-4*/
    font-size: calc(1.0rem + 0.3vw) !important;
    border: none;
}
@media (max-width: 990px) {
    .btn-bounce-circle {
        width: 110px;
        height: 110px;
    }
}
.btn-bounce-circle:hover {
    transform: translateY(-3px);
}

.btn.btn.btn-soft-info {
    background-color: #adcce9;
    color: #478ac9;
}
.btn.btn-soft-info:hover, .btn.btn-soft-info:active {
    background-color: #adcce9;
}

.btn.btn.btn-soft-danger {
    background-color: #f1b5b8;
    color: #db545a;
}
.btn.btn-soft-danger:hover, .btn.btn-soft-danger:active {
    background-color: #f1b5b8;
}

.btn.btn.btn-soft-warning {
    background-color: #f9e79b;
    color: #f1c50e;
}
.btn.btn-soft-warning:hover, .btn.btn-soft-warning:active {
    background-color: #f9e79b;
}

.w-80 {
    width: 80% !important;
}
