html {
    zoom: 120%;
    /*scroll-behavior: smooth;*/
}
nav {
    display: block;
    /*margin: 50px;*/
}
a {
    font-size: small;
}
#header {
    display: flex;
    justify-content: end;
    align-items: center;
    /*padding-bottom: 20px;*/
    padding: 20px 50px;
    margin-top: 30px;
}
.lang {
    position: relative;
    display: inline-block;
}
.burgerLang {
    position: relative;
    display: inline-block;
}

.lang-btn {
    background-color: #adccea;
    color: black;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.lang-btn:hover {
    background-color: #2980b9;
}
.u-nav-item {
    font-family: Roboto, sans-serif;
}

.lang-menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 120px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    margin-top: 6px;
}

.lang-menu a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.lang-menu a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
.burger {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #adccea;
    color: white;
    border: none;
    border-radius: 5px;
    display: none;
}

.burger-menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 55px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    margin-top: 6px;
}
.burger-menu a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}
.burger-menu a:hover {
    background-color: #f1f1f1;
}
.burgerLang.show .burger-menu {
    display: block;
}
.u-custom-menu .u-nav-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.u-logo-image {
    max-width: 80px;
    max-height: 80px;
    margin-right: 30px;
}

#headerAbout {
    text-align: center;
    font-size: 1.875rem;
}
#home {
    scroll-margin-top: 330px;
}
 .u-menu-1  {
    margin: 20px;
}

p {
    line-height: 2;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
    width: auto;
    margin: 50px auto 20px;
    border-radius: 10px;
}

.u-section-1 .u-image-2 {
    width: 492px;
    height: 492px;
    background-position: 50% 50%;
    margin: -433px auto 0;
}
.u-section-1 .u-container-layout-2 {
    padding: 0 0 30px;
    margin-left: 10px;
}

.u-section-1 .u-text-1 {
    font-size: 2rem;;
    font-weight: 700;
    margin: 0 0;
    padding-left: 30px;
}

.u-section-1 .u-text-2 {
    margin: 19px 1px 0 5px;
    font-weigth: 400;
    font-size: 24px;
    padding-left: 20px;
}

.u-section-1 .u-text-3 {
    line-height: 2;
    margin: 26px 20px 0;
    font-size: 18px;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px 10px 7px 30px;
}

.u-section-1 .u-group-1 {
    width: 156px;
    height: auto;
    transition-duration: 0.5s;
    min-height: 156px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(173, 204, 233, 1), rgba(173, 204, 233, 1));
    background-size: cover;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
}

.u-section-1 .u-text-4 {
    transition-duration: 0.5s;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 auto;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-group-2 {
    width: 156px;
    height: auto;
    transition-duration: 0.5s;
    min-height: 156px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(241, 181, 184, 1), rgba(241, 181, 184, 1));
    background-size: cover;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: -156px auto 0 168px;
}

.u-section-1 .u-text-5 {
    transition-duration: 0.5s;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 auto;
}

.u-section-1 .u-btn-2 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-group-3 {
    width: 156px;
    height: auto;
    transition-duration: 0.5s;
    min-height: 156px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(249, 231, 155, 1), rgba(249, 231, 155, 1));
    background-size: cover;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: -156px auto 0 335px;
}

.u-section-1 .u-text-6 {
    transition-duration: 0.5s;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 auto;
}

.u-section-1 .u-btn-3 {
    color: #db545a;
    padding: 0;
}
.u-section-1 {
    position: relative;
}
.u-section-2 {
    padding-bottom: 20px;
    scroll-margin-top: 10px; /* подгоняешь под высоту фиксированного header или просто отступ */
}
.row {
    flex-wrap: wrap;
}
.u-footer .u-sheet-1 {
    height: 40% !important;
}

@media (min-width: 1024px){
    #logo {
        display: block;
    }
    #header{
        padding-right: 0;
    }
    .u-menu-1 {
        margin: 0;
    }
    .u-section-1{
        display: flex;

    }
    .u-section-1 .u-sheet-1 {
        min-height: 400px;
    }
    .u-section-1 .u-image-1 {
        margin: 30px;
        padding: 30px;
        width: 100%;
        height: 80%;
    }
    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
        width: auto;
    }
    .u-section-1 .u-text-3 {
        font-size: 18px;
        width: 90%;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 324px;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 199px;
        margin-top: 60px;
    }
    .u-section-1 .u-container-layout-2 {
        width: auto;
        margin-left: 40px;
    }
    .u-section-1 .u-group-3 {
        margin-right: 194px;
    }
    .u-section-2 .row-1 {
        margin: 50px;
        gap: 20px;
        width: 90%;
    }
    .u-section-2 .row-2 {
        margin: 50px;
        gap: 20px;
        width: 30%;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    #logo {
        display: block;
    }
    #header {
        padding-right: 0;
    }
    .u-menu-1 {
        margin: 0;
    }
    .u-section-1 .u-sheet-1 {
        min-height: 1200px;
    }
    .u-section-1 .u-image-1 {
        margin: 30px;
        padding: 30px;
    }

    .u-section-1 .u-text-3 {
        font-size: 18px;
        width: 70%;
        padding-left: 10px;
    }

    .u-section-1 .u-text-2 {
        margin: 30px 0 10px 0;
        font-weigth: 400;
        font-size: 1.5em;
    }
    .u-section-1 .u-text-1 {
        margin: 30px 0 10px 0;
        font-weigth: 400;
        /*font-size: 1.5em;*/
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 60%;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 299px;
    }
    .u-section-1 .u-container-layout-1 {
        width: auto;
        margin-left: 10px;
    }
    .u-section-1 .u-container-layout-2 {
        width: auto;
        margin: 30px;
    }
    .u-section-1 .u-group-3 {
        margin-right: 194px;
    }
    .section-2 {
        position: relative;
        left: -60px;
        min-height: auto;
    }
    .u-section-2 .row-1 {
        margin: 50px;
        gap: 20px;
        width: 80%;
    }
    .u-section-2 .row-2 {
        margin: 50px;
        gap: 20px;
        width: 80%;
    }
}

    @media (max-width: 575px) {
        #logo {
            display: flex;
            width: 60px;
            justify-content: flex-end;
            margin-right: 0;
            height: 60px;
        }
        .u-logo-image {
            margin-right: 0;
        }
        #header {
            padding: 20px;
        }
        .burger {
            display: block;
        }
        .u-menu-1 {
            display: none;
        }

        .u-section-1 .u-sheet-1 {
            min-height: 800px;
        }

        .u-section-1 .u-image-1 {
            width: 70%;
            height: 70%;
        }

        .u-section-1 .u-image-2 {
            width: 250px;
            height: 340px;
        }

        .u-section-1 .u-text-1 {
            font-size: 1.875rem;
            width: auto;
        }

        .u-section-1 .u-text-3 {
            font-size: small;
            width: 80%;
        }

        .u-section-1 .u-layout-cell-2 {
            margin-left: 15px;
            width: 330px;
        }

        .u-section-1 .u-group-2 {
            margin-top: 27px;
            margin-left: 0;
        }

        .u-section-1 .u-group-3 {
            margin-top: 27px;
            margin-left: 0;
        }

        .u-section-2 .row {
            width: 90%;
            height: 50%;
            gap: 20px;
            flex-wrap: wrap;
        }

        .footer .u-text-1 {
            font-size: 7px;
        }
    }


    .u-section-1 .u-group-1,
    .u-section-1 .u-group-1:before,
    .u-section-1 .u-group-1 > .u-container-layout:before {
        transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
    }

    .u-section-1 .u-group-1.u-group-1.u-group-1:hover {
        transform: translateX(0px) translateY(-5px) scale(1) !important;
    }

    .u-section-1 .u-group-1.u-group-1.u-group-1.hover {
        transform: translateX(0px) translateY(-5px) scale(1) !important;
    }

    .u-section-1 :hover > .u-container-layout .u-group-1 {
        transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    }

    .u-section-1 .hover > .u-container-layout .u-group-1 {
        transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    }

    .u-section-1 .u-text-4,
    .u-section-1 .u-text-4:before,
    .u-section-1 .u-text-4 > .u-container-layout:before {
        transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
    }

    .u-section-1 .u-text-4.u-text-4.u-text-4:hover {
        color: #478ac9 !important;
    }

    .u-section-1 .u-text-4.u-text-4.u-text-4.hover {
        color: #478ac9 !important;
    }

    .u-section-1 :hover > .u-container-layout .u-text-4 {
        color: #478ac9 !important;
    }

    .u-section-1 .hover > .u-container-layout .u-text-4 {
        color: #478ac9 !important;
    }

    .u-section-1 .u-group-2,
    .u-section-1 .u-group-2:before,
    .u-section-1 .u-group-2 > .u-container-layout:before {
        transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
    }

    .u-section-1 .u-group-2.u-group-2.u-group-2:hover {
        transform: translateX(0px) translateY(-5px) scale(1) !important;
    }

    .u-section-1 .u-group-2.u-group-2.u-group-2.hover {
        transform: translateX(0px) translateY(-5px) scale(1) !important;
    }

    .u-section-1 :hover > .u-container-layout .u-group-2 {
        transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    }

    .u-section-1 .hover > .u-container-layout .u-group-2 {
        transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    }

    .u-section-1 .u-text-5,
    .u-section-1 .u-text-5:before,
    .u-section-1 .u-text-5 > .u-container-layout:before {
        transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
    }

    .u-section-1 .u-text-5.u-text-5.u-text-5:hover {
        color: #db545a !important;
    }

    .u-section-1 .u-text-5.u-text-5.u-text-5.hover {
        color: #db545a !important;
    }

    .u-section-1 :hover > .u-container-layout .u-text-5 {
        color: #db545a !important;
    }

    .u-section-1 .hover > .u-container-layout .u-text-5 {
        color: #db545a !important;
    }

    .u-section-1 .u-group-3,
    .u-section-1 .u-group-3:before,
    .u-section-1 .u-group-3 > .u-container-layout:before {
        transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
    }

    .u-section-1 .u-group-3.u-group-3.u-group-3:hover {
        transform: translateX(0px) translateY(-5px) scale(1) !important;
    }

    .u-section-1 .u-group-3.u-group-3.u-group-3.hover {
        transform: translateX(0px) translateY(-5px) scale(1) !important;
    }

    .u-section-1 :hover > .u-container-layout .u-group-3 {
        transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    }

    .u-section-1 .hover > .u-container-layout .u-group-3 {
        transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    }

    .u-section-1 .u-text-6,
    .u-section-1 .u-text-6:before,
    .u-section-1 .u-text-6 > .u-container-layout:before {
        transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
    }

    .u-section-1 .u-text-6.u-text-6.u-text-6:hover {
        color: #db545a !important;
    }

    .u-section-1 .u-text-6.u-text-6.u-text-6.hover {
        color: #db545a !important;
    }

    .u-section-1 :hover > .u-container-layout .u-text-6 {
        color: #f1c50e !important;
    }

    .u-section-1 .hover > .u-container-layout .u-text-6 {
        color: #f1c50e !important;
    }
}